<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Demo" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Demo;Trusted_Connection=True;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.codedom>
   
  </system.codedom>

</configuration>
